{% extends 'layout.html' %}
{% block body %}
<!-- Registrar -->
<h2 class="w-100 text-center py-3">Registrar clientes</h2>
<div class="w-100">
    <form class="w-75 mx-auto" action="{{ url_for('clientesRoutePost') }}" method="POST" enctype="multipart/form-data">
            <div class="mb-2">
                <label class="form-label"  for="cedula">Cédula</label>
                <input class="form-control" type="number" name="cedula" id="cedula" placeholder="1005404989" required />
            </div>

            <div class="mb-2">
                <label class="form-label" for="nombre">Nombre</label>
                <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Juan Diego Cobo Cabal" required />
            </div>


            <div class="mb-2">
                <label class="form-label" for="direccion">Direccion</label>
                <input class="form-control" type="text" name="direccion" id="direccion" placeholder="Calle 57N #34-12" required />
            </div>


            <div class="mb-2">
                <label class="form-label" for="telefono">Teléfono</label>
                <input class="form-control" type="number" name="telefono" id="telefono" placeholder="3148240987" required />
            </div>

            <div class="mb-2">
                <label class="form-label" for="foto">Foto</label>
                <input class="form-control" type="file" name="foto" id="foto" />
            </div>

            <div class="w-100 d-flex justify-content-center my-5">
                <button type="submit" class="btn btn-primary w-50">Registrar</button>
            </div>
        </form>
</div>

<!-- Editar y Eliminar-->
<h2 class="w-100 text-center py-3">Editar clientes</h2>
<div class="w-100 m-0 mb-5">

    <!-- Encabezados de tabla -->
    <div class="row justify-content-center m-0 px-5" >
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            Cédula
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            Nombre
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            Dirección
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            Teléfono
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            Foto
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            <!-- Hace referencia a las acciones de borrar o editar -->
        </div>
    </div>

    {% for cliente in clientes %}

    <div class="row justify-content-center m-0 px-5" >
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            {{cliente.cedula}}
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            {{cliente.nombre}}
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            {{cliente.direccion}}
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            {{cliente.telefono}}
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            {% if cliente.foto == 1 %}
                <img src="{{ url_for('static', filename=cliente.cedula|string + '.jpg')}}" 
                    class="w-50" />
            {% else %}
                No tiene
            {% endif %}
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            <a class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modalEditar{{ cliente.cedula }}">
                Editar
            </a>
            
            <a class="btn btn-danger"
                href="{{ url_for('clientesRouteDelete', cedula=cliente.cedula) }}">
                Borrar
            </a>
        </div>
    </div>

    <!-- Modal para realizar la actualización del cliente -->
    <div class="modal fade" id="modalEditar{{ cliente.cedula }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEditar" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="w-75 mx-auto" action="{{ url_for('clientesRoutePut', cedula=cliente.cedula) }}" method="POST" enctype="multipart/form-data">
                        <div class="mb-2">
                            <label class="form-label"  for="cedula">Cédula</label>
                            <input class="form-control" type="number" name="cedula" id="cedula" placeholder="1005404989" value="{{ cliente.cedula }}" />
                        </div>

                        <div class="mb-2">
                            <label class="form-label" for="nombre">Nombre</label>
                            <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Juan Diego Cobo Cabal" value="{{ cliente.nombre }}" />
                        </div>
                    
                    
                        <div class="mb-2">
                            <label class="form-label" for="direccion">Direccion</label>
                            <input class="form-control" type="text" name="direccion" id="direccion" placeholder="Calle 57N #34-12" value="{{ cliente.direccion }}" />
                        </div>
                    
                    
                        <div class="mb-2">
                            <label class="form-label" for="telefono">Teléfono</label>
                            <input class="form-control" type="number" name="telefono" id="telefono" placeholder="3148240987" value="{{ cliente.telefono }}" />
                        </div>
                    
                        <div class="mb-2">
                            {% if cliente.foto == 1 %}
                                <p>Foto</p>
                                <img class="w-50 mb-3" src="{{ url_for('static', filename=cliente.cedula|string + '.jpg')}}" /><br>
                                <label class="form-label" for="eliminarFoto">Eliminar foto</label>
                                <input type="checkbox" name="eliminarFoto" id="eliminarFoto" class="form-check-input" /><br>
                            {% else %}
                                <p>No tiene foto</p>
                            {% endif %}
                            <label class="form-label" for="foto">Agregar nueva foto</label>
                            <input class="form-control" type="file" name="foto" id="foto" />
                        </div>
                    
                        <div class="w-100 d-flex justify-content-center my-5">
                            <button type="submit" class="btn btn-primary w-50">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
</div>

<!-- Clientes ordenados por cantidad de compras -->
<h2 class="w-100 text-center py-3">Clientes ordenados por cantidad de compras</h2>
<div class="container mb-5 text-center">
    <div class="container row">
        <div class="col d-flex justify-content-center border border-dark py-3">
            Cédula del cliente
        </div>
        <div class="col d-flex justify-content-center border border-dark py-3">
            Cantidad de compras
        </div>
    </div>
    {%  for clienteOrdenado in clientesOrdenados %}
        <div class="container row">
            <div class="col d-flex justify-content-center border border-dark py-2">
                {{ clienteOrdenado.cedula }}
            </div>
            <div class="col d-flex justify-content-center border border-dark py-2">
                {{ clienteOrdenado.cantidad }}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}