{% extends 'layout.html' %}
{% block body %}
<!-- Registrar -->
<h2 class="w-100 text-center py-3">Registrar clientes</h2>
<div class="w-100">
    <form class="w-75 mx-auto" action="{{ url_for('clientesRoutePost') }}" method="POST" enctype="multipart/form-data">
        <div class="mb-2">
            <label class="form-label"  for="cedula">Cédula</label>
            <input class="form-control" type="number" name="cedula" id="cedula" placeholder="1005404989" />
        </div>
        
        <div class="mb-2">
            <label class="form-label" for="nombre">Nombre</label>
            <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Juan Diego Cobo Cabal" />
        </div>


        <div class="mb-2">
            <label class="form-label" for="direccion">Direccion</label>
            <input class="form-control" type="text" name="direccion" id="direccion" placeholder="Calle 57N #34-12" />
        </div>


        <div class="mb-2">
            <label class="form-label" for="telefono">Teléfono</label>
            <input class="form-control" type="number" name="telefono" id="telefono" placeholder="3148240987" />
        </div>

        <div class="mb-2">
            <label class="form-label" for="foto">Foto</label>
            <input class="form-control" type="file" name="foto" id="foto" />
        </div>

        <div class="w-100 d-flex justify-content-center my-5">
            <button type="submit" class="btn btn-primary w-50">Registrar</button>
        </div>
    </form>
</div>

<!-- Editar y Eliminar-->
<h2 class="w-100 text-center py-3">Editar clientes</h2>
<div class="w-100 m-0 mb-5">

    <!-- Encabezados de tabla -->
    <div class="row justify-content-center m-0 px-5" >
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            Cédula
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            Nombre
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            Dirección
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            Teléfono
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            Foto
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            <!-- Hace referencia a las acciones de borrar o editar -->
        </div>
    </div>

    {% for cliente in clientes %}

    <div class="row justify-content-center m-0 px-5" >
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            {{cliente.cedula}}
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            {{cliente.nombre}}
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            {{cliente.direccion}}
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            {{cliente.telefono}}
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            {% if cliente.foto == 1 %}
                <img src="{{ url_for('static', filename=cliente.cedula|string + '.jpg')}}" 
                    class="w-50" />
            {% else %}
                No tiene
            {% endif %}
        </div>
        <div class="col d-flex justify-content-center align-items-center border border-dark py-2">
            <a class="btn btn-primary me-2" 
                href="{{ url_for('clientesRoutePut', cedula=cliente.cedula, cliente=cliente) }}">
                Editar
            </a>

            <a class="btn btn-danger"
                href="{{ url_for('clientesRouteDelete', cedula=cliente.cedula) }}">
                Borrar
            </a>
        </div>
    </div>

    {% endfor %}
</div>



{% endblock %}